@media only screen and (max-width: 630px)
    .header
        flex-direction: column
        padding: 33px 35px 0
        &-logo
            padding-bottom: 23px
            border-bottom: 1px solid #d0d0d0
        &-menu
            width: 100%
            padding-top: 15px
            justify-content: space-around
    .main
        &-text 
            &:after
                width: 600px
                left: -50px
        
    .projects
        width: 490px
    .about
        display: none
    .footer
        display: none