@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  letter-spacing: 0.05em;
  font-family: 'NobelWGL-Book', sans-serif;
}

@font-face {
  font-family: 'NobelWGL-Book';
  src: url("../fonts/NobelWGL-Book.eot");
  src: local("NobelWGL-Book"), url("../fonts/NobelWGL-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/NobelWGL-Book.woff") format("woff"), url("../fonts/NobelWGL-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NobelWGL';
  src: url("../fonts/NobelWGL-Light.eot");
  src: local("NobelWGL-Light"), url("../fonts/NobelWGL-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NobelWGL-Light.woff") format("woff"), url("../fonts/NobelWGL-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NobelWGL';
  src: url("../fonts/NobelWGL-Bold.eot");
  src: local("NobelWGL-Bold"), url("../fonts/NobelWGL-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NobelWGL-Bold.woff") format("woff"), url("../fonts/NobelWGL-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.header {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F1B20;
  color: #ffffff;
}

.header__info {
  width: 10rem;
  right: 6em;
  font-size: 18px;
  font-family: 'NobelWGL';
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #FFC773;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.menu__wrapper_left {
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__wrapper_right {
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.05em;
}

.menu__item:focus {
  outline: none;
}

.menu__item:hover {
  color: #FFC773;
}

.menu .logo {
  width: 5rem;
  padding-top: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 2;
}

.lorem {
  height: 40vh;
  margin: 10rem;
}

.footer {
  width: 100%;
  height: 18vh;
  background-color: #1F1B20;
  color: #ffffff;
}

.footer .menu {
  padding: 2rem;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text p {
  padding: 0.2rem;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__text p a {
  color: #FFC773;
  text-decoration: none;
}

.main {
  width: 100%;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 92vh;
  background: url(../img/main-title.png) center no-repeat;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main__title_acitve {
  margin: 0 auto 10vh;
  font-size: 3rem;
  color: #FFC773;
  line-height: 3rem;
}

.main__title_small {
  font-size: 24px;
  line-height: 4rem;
  max-width: 37rem;
  margin: 0 auto;
  color: #ffffff;
}

.main__about {
  background: url(../img/transparent/about.png) center no-repeat;
}

.main__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.main__slider-img {
  display: block;
  margin: 0 15rem;
}

.main__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.8rem auto;
}

.main__slider .slick-dots li {
  list-style: none;
  margin: 0 0.3rem;
  padding: 0;
  cursor: pointer;
}

.main__slider .slick-dots button {
  font-size: 0;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
  background-color: #1F1B20;
  border-radius: 50%;
  border: none;
}

.main__slider .slick-dots li.slick-active button {
  background-color: #FFC773;
}

.main__portfolio a {
  max-width: 30rem;
  margin: 0 auto;
}

.main__projects-title {
  max-width: 62vw;
  margin: 0 auto 4rem;
  font-size: 3rem;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

.main__projects-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
}

.main__projects-image .main__projects-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.main .instagram__title {
  height: 16vh;
  max-width: 65%;
  margin: 0 auto;
  background: url(../img/transparent/instagram.png) center no-repeat;
  background-size: contain;
}

.main .instagram__picture {
  max-width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .instagram__img {
  width: 20rem;
  height: 20rem;
  background-color: #c4c4c4;
  margin: 0.5rem;
  text-align: center;
}

.main .instagram__img img {
  max-height: 100%;
}

.main .instagram a {
  max-width: 30rem;
  margin: 1.5rem auto 8rem;
}

.main__boss {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

.main__boss h2 {
  color: #FFC773;
  font-size: 3rem;
}

.main__boss p {
  color: #FFC773;
  font-size: 1.2rem;
}

.main__boss-img {
  background: url(../img/main/main-boss.png) right no-repeat;
  background-size: cover;
  background-position-y: inherit;
  width: 50%;
}

.main__boss-text {
  width: 50%;
  padding: 5rem 5rem 0 0;
  text-align: end;
}

.main__boss-text p {
  color: #ffffff;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.main__boss-subtitle {
  position: absolute;
  height: 1rem;
  bottom: 5rem;
  line-height: 3rem;
}

.main__steps-title {
  background-color: #000000;
}

.main__steps-title h2 {
  color: #FFC773;
  font-size: 6rem;
  padding: 3rem 6rem 1rem;
}

.main__steps-title h3 {
  color: #ffffff;
  font-size: 6rem;
  text-align: end;
  padding-right: 6rem;
  padding-bottom: 3rem;
}

.main__steps-wrapper {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 92vh;
  background: url(../img/main/main__steps/steps-img.png) center no-repeat;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 100%;
}

.main__steps-wrapper.dark-bg::before {
  background-color: rgba(0, 0, 0, 0.9);
}

.main__steps-item_1, .main__steps-item_2, .main__steps-item_3, .main__steps-item_4 {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5rem;
  padding-left: 13rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__steps-item_1 h2, .main__steps-item_2 h2, .main__steps-item_3 h2, .main__steps-item_4 h2 {
  font-size: 1.7rem;
}

.main__steps-item_1 p, .main__steps-item_2 p, .main__steps-item_3 p, .main__steps-item_4 p {
  text-transform: initial;
  font-size: 1.2rem;
}

.main__steps-item_1 {
  background: url(../img/main/main__steps/step-1.png) left no-repeat;
  margin-left: 7rem;
  padding-left: 11rem;
  color: #FFC773;
}

.main__steps-item_2 {
  background: url(../img/main/main__steps/step-2.png) left no-repeat;
}

.main__steps-item_3 {
  background: url(../img/main/main__steps/step-3.png) left no-repeat;
}

.main__steps-item_4 {
  background: url(../img/main/main__steps/step-4.png) left no-repeat;
}

.main__connect .connect-title {
  height: 10rem;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh auto;
  letter-spacing: 0.08em;
  line-height: 24px;
  background: url(../img/transparent/connect.png) center no-repeat;
  background-size: contain;
}

.main__connect .connect-title h2 {
  text-transform: uppercase;
  font-family: 'NobelWGL';
  font-size: 24px;
  font-weight: bold;
  max-width: 100%;
}

.main__connect .connect-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__connect .connect-text p {
  text-transform: uppercase;
  font-family: 'NobelWGL';
  font-size: 24px;
}

.services-img {
  height: 100vh;
  background: url(../img/services.png) center no-repeat;
  background-size: cover;
}

.services-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.services-advantage .advantage-item {
  width: 45%;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-advantage .advantage-item__img {
  width: 7vw;
}

.services-advantage .advantage-item__text {
  max-width: 30vw;
  padding-left: 1.5rem;
}

.services-advantage .advantage-item__text h2 {
  max-width: 25vw;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.services-advantage .advantage-item__text p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.price-list .transparent-block {
  height: 25vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-list__title {
  background: url(../img/transparent/price-list.png) center no-repeat;
  background-color: #1F1B20;
}

.price-list__title p {
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: bold;
  color: #ffffff;
}

.price-list__wrapper {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.price-list__item {
  padding: 2rem 1rem;
  max-width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-list__item .price-xs {
  background: url(../img/transparent/ХS.png) center no-repeat;
  background-color: #1F1B20;
  background-position: right 1vw center;
}

.price-list__item .price-s {
  background: url(../img/transparent/S.png) center no-repeat;
  background-color: #1F1B20;
  background-position: right 1vw center;
}

.price-list__item .price-m {
  background: url(../img/transparent/М.png) center no-repeat;
  background-color: #1F1B20;
  background-position: right 1vw center;
}

.price-list__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15rem;
  padding-left: 1rem;
  border-radius: 20px 20px 0 0;
  color: #ffffff;
}

.price-list__top h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.price-list__top p {
  font-size: 1.5em;
}

.price-list__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-bottom: 2rem;
  padding: 2rem 1rem 1rem;
  border-radius: 0 0 20px 20px;
  background-color: #1F1B20;
}

.price-list__text {
  color: #ffffff;
  line-height: 1.3;
}

.price-list__price {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.price-list__price span {
  font-size: 1rem;
}

.price-list__price .price__old {
  text-decoration: line-through;
}

.price-list__price .price__new {
  color: #FFC773;
}

.option-services .transparent-block {
  height: 75vh;
}

.option-services__block {
  background: url(../img/transparent/SERVICES.png) center no-repeat;
}

.option-services__title {
  text-transform: uppercase;
  font-weight: 600;
}

.option-services__plane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem;
  background: url(../img/transparent/PLANE.png) center no-repeat;
  background-color: #1F1B20;
  background-position: right 1vw top 1vw;
}

.option-services__text {
  color: #ffffff;
  line-height: 1.3;
}

.option-services__text p {
  margin-top: 1rem;
}

.option-services__price {
  min-width: 20vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option-services__price h2 {
  color: #FFC773;
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: 600;
}

.option-services__price p {
  padding: 1rem;
  line-height: 1.3rem;
  color: #ffffff;
}

.option-services__price p span {
  font-weight: 600;
}

.option-services__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background: url(../img/transparent/AUTHOR.png) center no-repeat;
  background-color: #1F1B20;
  background-position: right 1vw top 1vw;
}

.option-services__author .author__title h2 {
  padding-top: 1rem;
}

.option-services__author .author__title p {
  padding: 4rem 5rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  color: #777474;
}

.option-services__author .author__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.option-services__author .author__price p {
  padding-bottom: 1.5rem;
  color: #FFC773;
  font-size: 2rem;
}

.option-services__author .author__price span {
  font-weight: 600;
  font-size: 4rem;
}

.be-yourself .transparent-block {
  height: 70vh;
}

.be-yourself__block {
  background: url(../img/transparent/BE_YOURSELF.png) center no-repeat;
}

.be-yourself__title {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.3;
}

.portfolio-instagram .transparent-block {
  height: 40vh;
}

.portfolio-instagram__block {
  background: url(../img/transparent/instagram.png) bottom no-repeat;
  background-position: bottom 1vh;
}

.portfolio-instagram__block .transparent-block__text {
  margin: 0;
}

.portfolio-instagram__title p {
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio-instagram__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-instagram__img img {
  max-width: 24vw;
  margin: 0.5rem 0;
}

.portfolio-instagram__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.portfolio-instagram__social .social-block {
  position: absolute;
  right: 2%;
}

.portfolio-instagram__social .button-active {
  width: 25rem;
}

.portfolio-projects .transparent-block {
  height: 60vh;
}

.portfolio-projects .transparent-block__text {
  width: 35rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio-projects__block {
  background: url(../img/transparent/POJECTS.png) center no-repeat;
}

.portfolio-projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-projects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #1F1B20;
}

.portfolio-projects__img img {
  width: 100%;
  margin: 1rem 0;
}

.portfolio-projects__img .more {
  display: none;
}

.portfolio-projects__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  background-color: #1F1B20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-projects__more .button-active {
  font-family: 'NobelWGL-Book', sans-serif;
  width: 20rem;
}

.portfolio-cover {
  width: 100%;
  height: 121vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.portfolio-cover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1F1B20), to(transparent));
  background-image: linear-gradient(to top, #1F1B20, transparent);
  opacity: 0.8;
}

.portfolio-cover__img {
  width: 100%;
  position: relative;
}

.portfolio-cover__img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1F1B20), to(transparent));
  background-image: linear-gradient(to top, #1F1B20, transparent);
  opacity: 0.8;
}

.portfolio-cover__img img {
  margin: 0;
}

.portfolio-cover__text {
  color: #E5E5E5;
  z-index: 1;
  padding: 2rem;
}

.portfolio-cover__text h2 {
  font-size: 4rem;
}

.portfolio-cover__text p {
  font-size: 1.5rem;
}

.pc-1 {
  background: url(../img/port1.png) center no-repeat;
  background-size: cover;
}

.pc-2 {
  background: url(../img/services.png) center no-repeat;
  background-size: cover;
}

.pc-3 {
  background: url(../img/main-title.png) center no-repeat;
  background-size: cover;
}

.portfolio-form .transparent-block {
  height: 20vh;
}

.portfolio-connect .transparent-block {
  height: 90vh;
}

.portfolio-connect__block {
  background: url(../img/transparent/connect.png) center no-repeat;
}

.portfolio-connect__title p {
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio-connect__contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio-connect__contact p {
  font-weight: 600;
  line-height: 1.3;
}

.article-wrapper {
  margin-top: 1rem;
}

.article-wrapper .article {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-wrapper .article__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
  height: 30rem;
  padding: 1rem 1.2rem 0;
  letter-spacing: 0.1em;
}

.article-wrapper .article__text h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 1px solid;
  text-transform: uppercase;
}

.article-wrapper .article__text p {
  font-size: 18px;
  line-height: 20px;
}

.article-wrapper .article__img {
  width: 30rem;
  height: 30rem;
}

.blog-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-article h1 {
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
}

.blog-article p {
  padding: 0.5rem 5rem;
  font-size: 1.4rem;
}

.blog-article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  max-width: 70vw;
}

.blog-article h2 {
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #1F1B20;
  color: #ffffff;
}

.blog-article h2 a {
  text-decoration: none;
  color: #FFC773;
}

.contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62vh;
  padding: 0 10rem;
  font-size: 18px;
  text-align: center;
}

.contact-text p {
  padding: 0.7rem 0;
}

.contact-social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15% 5%;
}

.about .caption-about .caption__title h2 {
  width: 100%;
  text-align: center;
}

.about .about-block {
  background: url(../img/transparent/about.png) center no-repeat;
  height: 92vh;
}

.about .about-block__text {
  max-width: 80%;
  text-align: center;
}

.about__princips .caption__title h2 {
  color: #FFC773;
}

.about__princips .princips-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 2rem;
}

.about__princips .princips-text__block {
  max-width: 35vw;
  padding: 0 10rem;
}

.about__princips .princips-text__title {
  padding-right: 0.5rem;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
}

.about__princips .princips-text__text {
  padding: 1rem 0 2rem;
  line-height: 1.1;
}

.about__princips .button-active {
  margin: 0 auto 2rem;
  width: 25%;
}

.about__boss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url(../img/boss.jpg) center no-repeat;
  background-position: right;
  background-color: #f9f9f9;
  background-size: contain;
}

.about__boss .boss-wrapper {
  width: 45rem;
  height: 100%;
  padding-left: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__boss .boss-wrapper .boss-text {
  letter-spacing: 0.05em;
}

.about__boss .boss-wrapper .boss-text h1 {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2.7rem;
}

.about__boss .boss-wrapper .boss-text h2 {
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.about__boss .boss-wrapper .boss-text p {
  width: 20rem;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  line-height: 1.3;
}

.about .about__connect {
  position: relative;
}

.about .about__connect .connect-title {
  height: 10rem;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh auto;
  letter-spacing: 0.08em;
  line-height: 24px;
  background: url(../img/transparent/connect.png) center no-repeat;
  background-size: contain;
}

.about .about__connect .connect-title h2 {
  text-transform: uppercase;
  font-family: 'NobelWGL';
  font-size: 24px;
  font-weight: bold;
  max-width: 100%;
}

.about .about__connect .connect-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .about__connect .connect-text p {
  text-transform: uppercase;
  font-family: 'NobelWGL';
  font-size: 24px;
}

.about .about__connect .social-block {
  position: absolute;
  bottom: 3%;
  right: 20%;
}

.dark-bg {
  position: relative;
  z-index: 1;
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.menu-active {
  color: #FFC773;
  border-bottom: 1px solid #FFC773;
}

.button-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #FFC773;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F1B20;
  border: 1px solid #FFC773;
  border-radius: 3rem;
}

.button-active:hover {
  background-color: #120f12;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16vh;
  padding: 0 7rem;
  background-color: #1F1B20;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.caption__title {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caption__title h2 {
  width: 40vw;
  text-align: end;
  text-transform: uppercase;
  font-size: 42px;
}

.caption__title h2 a {
  text-decoration: none;
  color: #ffffff;
}

.caption__title p {
  width: 40vw;
  font-family: 'NobelWGL';
  font-size: 18px;
  font-weight: 300;
}

.caption__vl {
  height: 100%;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 3rem;
}

.text-vl {
  display: inline;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0.1rem;
}

.block__vl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
}

.form-caption h2 {
  color: #FFC773;
}

.form-caption p {
  text-transform: uppercase;
}

.form-caption .caption__vl {
  margin: 0 2rem;
}

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background-color: #1F1B20;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.request .caption__vl {
  margin: 0 2rem;
}

.request__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  font-size: 18px;
  background-image: url(../img/transparent/mironova.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.request__data div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

.request__data div label,
.request__data div input {
  width: 25rem;
}

.request__data div label {
  font-family: 'NobelWGL';
  text-align: right;
}

.request__data div input {
  font-family: 'NobelWGL-Book';
  border: none;
  border-bottom: 1px solid #FFC773;
  background-color: transparent;
  color: #ffffff;
}

.request__rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request__rules .checkbox {
  height: 1rem;
  margin-right: 0.5rem;
}

.request__rules a {
  text-decoration: none;
  color: #FFC773;
}

.request__rules a:focus {
  outline: none;
}

.request .button-active {
  margin: 1rem 0 2rem;
  width: 50%;
}

.transparent-block {
  height: 100vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transparent-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 51%;
  margin: 5vh auto;
  letter-spacing: 0.08em;
  line-height: 24px;
}

.transparent-block__text h2 {
  max-width: 90%;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'NobelWGL';
  font-size: 24px;
  font-weight: bold;
}

.transparent-block__text p {
  padding-bottom: 1.5rem;
  font-size: 20px;
}

.vl {
  border-left: 1px solid rgba(50, 50, 50, 0.5);
  height: 15vh;
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 84vh;
  background-color: #1F1B20;
}

.empty h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.empty__img {
  height: 60vh;
}

.empty__img img {
  height: 100%;
}

.thank-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
  background-color: #1F1B20;
}

.thank-you h2 {
  text-transform: uppercase;
  color: #FFC773;
  font-size: 3rem;
}

.social-block {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-block .ok,
.social-block .fb,
.social-block .vk,
.social-block .in {
  width: 3rem;
  height: 3rem;
}

.social-block .ok {
  width: 2.8rem;
  background: url(../img/ico/ok_ico.png) center no-repeat;
  background-size: contain;
}

.social-block .fb {
  background: url(../img/ico/fb_ico.png) center no-repeat;
  background-size: contain;
}

.social-block .vk {
  background: url(../img/ico/vk_ico.png) center no-repeat;
  background-size: contain;
}

.social-block .in {
  background: url(../img/ico/insta_ico.png) center no-repeat;
  background-size: contain;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.overlay .popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 4;
  width: 35vw;
  height: 25vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 35%;
  text-align: center;
  background-color: #1F1B20;
  outline: 1px solid #FFC773;
}

.overlay .popup-close {
  position: absolute;
  font-family: 'NobelWGL';
  font-size: 50px;
  cursor: pointer;
  color: #FFC773;
  right: 5px;
  top: -10px;
}

.overlay .popup-title {
  color: #FFC773;
  font-size: 2rem;
  text-transform: uppercase;
}

.overlay .popup-form {
  color: #ffffff;
}

.overlay .popup-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  margin: 1rem;
  font-size: 1.4rem;
}

.overlay .popup-form div .caption__vl {
  margin: 0 2rem;
}

.overlay .popup-form__label {
  width: 17rem;
  text-transform: uppercase;
  font-family: 'NobelWGL';
}

.overlay .popup-form__input {
  width: 17rem;
  text-align: center;
  font-family: 'NobelWGL-Book';
  border: none;
  border-bottom: 1px solid #FFC773;
  background-color: transparent;
  color: #ffffff;
}

.overlay .popup-form__btn {
  margin: 2rem auto 0;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 1366px) {
  .menu .logo {
    width: 4rem;
  }
}

@media only screen and (max-width: 920px) {
  .header__info {
    display: none;
  }
  .header .menu {
    min-width: 100%;
  }
  .transparent-block {
    background-size: contain;
  }
}

@media only screen and (max-width: 576px) {
  .mobile-hide {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .main__title_acitve {
    margin: 0 auto 15vh;
  }
  .main .instagram__picture {
    max-width: 95%;
  }
  .main .instagram__img {
    width: 10rem;
    height: 10rem;
    margin: 0.3rem;
  }
  .main__connect .connect-title {
    width: 100%;
  }
  .main__connect .connect-title h2 {
    font-size: 20px;
  }
  .main__connect .connect-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .main__connect .connect-text p {
    padding: 0.5rem;
  }
  .transparent-block__text {
    max-width: 95%;
  }
  .about__boss {
    background: none;
  }
  .about__boss .boss-wrapper {
    padding: 0 5vw;
  }
  .about__boss .boss-wrapper .boss-text p {
    width: 100%;
  }
  .caption {
    padding: 0;
  }
  .footer .menu {
    padding: 1rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    padding-top: 3vh;
  }
  .main__title {
    height: 99vh;
  }
  .main__title_acitve {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
  .main__title_small {
    opacity: 0.9;
    font-size: 1.1rem;
  }
  .main__about .transparent-block {
    padding: 0.5rem;
  }
  .main__about .transparent-block__text h2 {
    font-size: 1.1rem;
  }
  .main__about .transparent-block__text p {
    padding-bottom: 1.1rem;
    font-size: 1rem;
    line-height: 1.3;
  }
  .main .instagram {
    margin-bottom: 0;
  }
  .main .instagram a {
    margin: 2rem 2rem;
    font-size: 1rem;
  }
  .main .instagram__picture {
    max-width: 100%;
  }
  .main .instagram__img {
    width: 30vw;
    height: 30vw;
  }
  .main .instagram__img a {
    margin: 1.5rem auto 8rem;
  }
  .main__connect .connect-title {
    margin: 0;
  }
  .main__connect .connect-title h2 {
    font-size: 12px;
  }
  .main__connect .connect-text p {
    line-height: 1.5rem;
    font-size: 1.3rem;
  }
  .services-img {
    height: 50vh;
  }
  .slider-wrapper .price-list__title {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-wrapper .price-list__title p {
    font-size: 1rem;
  }
  .slider-wrapper .option-services__block {
    height: 30vh;
  }
  .slider-wrapper .option-services__block .option-services__title {
    text-align: center;
  }
  .slider-wrapper .option-services__block .option-services__title p {
    font-size: 1rem;
  }
  .slider-mobile .slider-item__advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 70vh;
  }
  .slider-mobile .slider-item__advantage .advantage-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8rem;
    padding: 0 1rem;
  }
  .slider-mobile .slider-item__advantage .advantage-item__img {
    width: 30vw;
  }
  .slider-mobile .slider-item__advantage .advantage-item__text {
    max-width: 70vw;
    padding-left: 1.5rem;
  }
  .slider-mobile .slider-item__advantage .advantage-item__text h2 {
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1.3rem;
    font-weight: bold;
  }
  .slider-mobile .slider-item__advantage .advantage-item__text p {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .slider-mobile .slider-item__price .price-list__item {
    min-width: 100%;
    padding: 0;
  }
  .slider-mobile .slider-item__price .price-list__top {
    height: 10rem;
    border-radius: 0;
  }
  .slider-mobile .slider-item__price .price-list__top h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
  .slider-mobile .slider-item__price .price-list__top p {
    font-size: 1.2rem;
    opacity: 0.6;
  }
  .slider-mobile .slider-item__price .price-list__offer {
    height: 56rem;
    border-radius: 0;
  }
  .slider-mobile .slider-item__price .price-list__text ul {
    list-style: circle;
  }
  .slider-mobile .slider-item__price .price-list__text ul li {
    margin: 0.5rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .m-plane__title {
    background: url(../img/transparent/plane-m.png) center no-repeat;
  }
  .slider-mobile .slider-item__option .mobile-option__item .m-author__title {
    background: url(../img/transparent/author.png) center no-repeat;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__title {
    height: 10vh;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #1F1B20;
    background-size: 60%;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__title h2, .slider-mobile .slider-item__option .mobile-option__item .mobile-option__title p {
    min-width: 45vw;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__title h2 {
    text-align: end;
    color: #FFC773;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__title .caption__vl {
    height: 50%;
    margin: 0 0.3rem;
    border-left: 2px solid rgba(255, 199, 115, 0.5);
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-plane {
    height: 100vh;
    background-color: #1F1B20;
    color: #ffffff;
    padding: 2rem 1rem 0;
    margin-bottom: 2rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-plane h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-plane ul {
    list-style: circle;
    margin-bottom: 3rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-plane ul li {
    margin: 0.5rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-plane p {
    text-align: center;
    padding-top: 1rem;
    line-height: 1.3rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author {
    height: 100vh;
    background-color: #1F1B20;
    color: #ffffff;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-size: smaller;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author ul {
    list-style: circle;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author ul li {
    margin: 0.5rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author p {
    padding-top: 1rem;
    line-height: 1.2rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author .price-list__price {
    padding: 2rem 0;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author .price-list__price span {
    padding: 0 0.5rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .mobile-option__offer-author .price-list__price .price__new {
    font-size: 3rem;
  }
  .slider-mobile .slider-item__option .mobile-option__item .button-active {
    min-width: 100%;
  }
  .be-yourself .transparent-block {
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .be-yourself__block {
    background: url(../img/transparent/be_yourself_mob.png) center no-repeat;
    background-size: 90%;
  }
  .be-yourself__title p {
    font-size: 0.8rem;
    padding: 1.5rem 0;
    text-align: center;
  }
  .portfolio-m__caption .caption__title h2 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .portfolio-projects .transparent-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25vh;
  }
  .portfolio-projects .transparent-block__text {
    font-size: 0.8rem;
    text-align: center;
  }
  .portfolio-cover {
    height: 25vh;
  }
  .portfolio-cover__text {
    padding: 0.5rem;
  }
  .portfolio-cover__text h2 {
    font-size: 1.5rem;
  }
  .portfolio-cover__text p {
    font-size: 0.7rem;
  }
  .portfolio-instagram {
    background-color: #1F1B20;
  }
  .portfolio-instagram .instagram {
    margin-bottom: 0;
  }
  .portfolio-instagram .instagram .transparent-block {
    height: 10vh;
    margin: 0 1rem;
    background-size: contain;
  }
  .portfolio-instagram .instagram__title {
    background: url(../img/transparent/mironova.png) center no-repeat;
    padding-top: 1.5rem;
    font-size: 0.7rem;
    color: #FFC773;
    letter-spacing: 0.1rem;
    line-height: 0.8rem;
  }
  .portfolio-instagram .instagram__picture {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-instagram .instagram .button-active {
    height: 2.3rem;
    width: 40vw;
    margin: 1rem auto 0;
    font-size: 0.7rem;
    text-align: center;
  }
  .portfolio-instagram .instagram__img {
    width: 30vw;
    height: 30vw;
    margin: 0.3rem;
  }
  .portfolio-instagram .instagram__img a {
    margin: 1.5rem auto 8rem;
  }
  .article-wrapper .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  .article-wrapper .article__img, .article-wrapper .article__text {
    width: auto;
    height: 20rem;
  }
  .article-wrapper .article__img {
    margin-bottom: 2rem;
  }
  .article-wrapper .article__text p {
    font-size: 1rem;
  }
  .article-wrapper .mobile-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-article h1 {
    font-size: 3rem;
  }
  .blog-article p {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }
  .blog-article h2 {
    margin: 1rem auto 0;
  }
  .blog-article .blog-article__wrapper {
    max-width: 100vw;
  }
  .contact-text {
    height: auto;
    padding: 1rem 1rem 0;
  }
  .contact-social {
    padding: 5% 0% 0%;
  }
  .about .caption-about {
    height: 10vh;
  }
  .about .caption-about h2 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: #FFC773;
  }
  .about .transparent-block {
    background-size: contain;
    height: 23vh;
    padding: 1rem;
  }
  .about .transparent-block__text {
    max-width: 100%;
  }
  .about .transparent-block__text p {
    font-size: 1.1rem;
  }
  .about__princips .princips-text__block {
    max-width: 100vw;
    padding: 0;
  }
  .about__princips .caption {
    padding: 0;
    height: 12vh;
  }
  .about .main__connect {
    height: 60vh;
  }
  .about .portfolio-form .caption {
    padding: 0;
  }
  .footer .menu {
    padding: 1rem 0;
    padding-bottom: 2rem;
  }
  .footer .menu__item {
    margin: 0 0.3rem;
    font-size: 0.6rem;
  }
  .footer__text p {
    font-size: 0.8rem;
  }
  .transparent-block {
    height: 70vh;
    padding: 0.5rem;
  }
  .vl {
    border-left: 1px solid rgba(50, 50, 50, 0.5);
    height: 15vh;
  }
  .form-caption h2 {
    width: 45vw;
    font-size: 1rem;
  }
  .form-caption p {
    width: 45vw;
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  .form-caption .caption__vl {
    margin: 0 1rem;
  }
  .request .mobile-only {
    display: block;
    padding: 2rem 1.5rem 3.5rem;
  }
  .request .mobile-only input {
    text-transform: uppercase;
  }
  .request__rules {
    padding: 0 1.5rem;
  }
  .request__rules .checkbox {
    height: 3rem;
    width: 4rem;
  }
  .request__rules label {
    padding-top: 0.8rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
  .request .button-active {
    width: 90%;
  }
  .caption {
    padding-top: 2rem;
    height: 17vh;
  }
  .caption__title h2 {
    font-size: 1rem;
  }
  .caption__title p {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  .caption__vl {
    margin: 0 1rem;
  }
  .social-block {
    width: 9rem;
    margin: 0 1rem 2rem 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .social-block .ok, .social-block .fb, .social-block .vk, .social-block .in {
    width: 2rem;
    height: 2rem;
  }
  .slider-portfolio {
    width: 420px;
  }
  .slider-portfolio .slider-item__fox {
    width: 100%;
  }
}
