.about
    .about-block
        background: url(../img/transparent/about.png) center no-repeat
        height: 92vh
        &__text
            max-width: 80% 
            text-align: center
    &__princips
        .princips-text
    &__boss
        display: flex
        align-items: center
        height: 100vh
        background: url(../img/boss.png) center no-repeat
        background-position: right
        background-color: #f9f9f9
        background-size: contain
        .boss-text
            width: 45rem
            padding-left: 20vw
            letter-spacing: 0.05em
            h1 
                padding-bottom: 1rem
                text-transform: uppercase
                font-size: 2.7rem
            h2 
                padding-bottom: 3rem
                text-transform: uppercase
                font-size: 1.2rem
            p   
                width: 20rem
                padding: 0.5rem 0
                font-size: 1.1rem

