.article
    width: 100%
    margin-top: 1rem
    display: flex
    justify-content: center
    &__text
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 30rem
        height: 30rem
        padding: 1rem 1.2rem 0
        letter-spacing: 0.1em
        h2 
            font-size: 24px
            margin-bottom: 1rem
            padding-left: 1rem
            border-left: 1px solid 
            text-transform: uppercase
        p 
            font-size: 18px
            line-height: 20px
    &__img
        width: 30rem
        height: 30rem
