.contact-text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 50vh
    padding: 0 10rem
    font-size: 18px
    text-align: center
    p
        padding: 0.7rem 0
.contact-social
    justify-content: flex-end
    display: flex
    padding: 0 15% 5%
