.main
    width: 100%
    &__title
        display: flex
        flex-direction: column
        justify-content: space-evenly
        height: 92vh
        background: url(../img/main-title.png) center no-repeat
        background-size: cover
        text-align: center
        text-transform: uppercase
        letter-spacing: 0.05em
        &_acitve
            max-width: 41rem
            margin: 0 auto 10vh
            font-size: 42px
            color: $text-color-active
            line-height: 3rem
        &_small
            font-size: 24px
            line-height: 4rem
            max-width: 37rem
            margin: 0 auto
            color: $text-color-light
    &__about
        background: url(../img/transparent/about.png) center no-repeat
    &__slider
        display: flex
        justify-content: center
        flex-direction: column
        margin: 0 auto
        &-img
            display: block
            margin: 0 15rem
        .slick-dots
            display: flex
            justify-content: center
            margin: 0.8rem auto
            li
                list-style: none
                margin: 0 0.3rem
                padding: 0
                cursor: pointer
            button
                font-size: 0
                width: 0.7rem
                height: 0.7rem
                padding: 0
                background-color: $color-dark
                border-radius: 50%
                border: none
            li.slick-active
                button
                    background-color: $text-color-active
    .main__portfolio
        a
            max-width: 30rem
            margin: 0 auto
    .instagram
        &__title
            height: 16vh
            max-width: 65%
            margin: 0 auto
            background: url(../img/transparent/instagram.png) center no-repeat
            background-size: contain
        &__picture
            max-width: 85%
            margin: 0 auto
            display: flex
            flex-wrap: wrap
            justify-content: center
        &__img
            width: 20rem
            height: 20rem
            background-color: #c4c4c4
            margin: 0.5rem
            text-align: center
            img
                max-height: 100%
        a
            max-width: 30rem
            margin: 1.5rem auto 8rem
    &__connect
        .connect-title
            height: 10rem
            width: 60%
            display: flex
            justify-content: center
            align-items: center
            margin: 5vh auto
            letter-spacing: 0.08em
            line-height: 24px
            background: url(../img/transparent/connect.png) center no-repeat
            background-size: contain
            h2
                text-transform: uppercase
                font-family: 'NobelWGL'
                font-size: 24px
                font-weight: bold
                max-width: 100%
        .connect-text
            display: flex
            width: 80%
            justify-content: space-evenly
            p
                text-transform: uppercase
                font-family: 'NobelWGL'
                font-size: 24px
