@media only screen and (max-width: 1366px)
    .menu
        .logo
            width: 4rem
@media only screen and (max-width: 920px)
    .header
        &__info
            display: none
        .menu
            min-width: 100%
    .transparent-block
        background-size: contain
@media only screen and (max-width: 576px)
    .mobile-hide
        display: none
    .main
        &__title
            &_acitve
                margin: 0 auto 15vh
        .instagram
            &__title
            &__picture
                max-width: 95%
            &__img
                width: 10rem
                height: 10rem
                margin: 0.3rem
                img
            a
        &__connect
            .connect-title
                width: 100%
                h2
                    font-size: 20px
            .connect-text
                flex-direction: column
                align-self: flex-start
                p
                    padding: 0.5rem
    .transparent-block
        &__text
            max-width: 95%
    .about
        .about-block
            &__text
        &__princips
            .caption__title
                h2
            .princips-text
                &__block
                &__title
                &__text
            .button-active
        &__boss
            background: none
            .boss-wrapper
                padding: 0 5vw
                .boss-text
                    h1
                    h2
                    p
                        width: 100%
        .about__connect
            .connect-title
                h2
            .connect-text
                p
            .social-block
    .caption
        padding: 0
        &__title
            h2
                a
            p
        &__vl
    .footer
        .menu
            padding: 1rem
            padding-bottom: 2rem
        &__text
            p
                a

// @media only screen and (max-width: 720px)
// @media only screen and (max-width: 1366px)
