@media only screen and (max-width: 1366px)
    .menu
        .logo
            width: 4rem
@media only screen and (max-width: 920px)
    .header
        &__info
            display: none
        .menu
            min-width: 100%
    .transparent-block
        background-size: contain
@media only screen and (max-width: 576px)
    .mobile-hide
        display: none
// @media only screen and (max-width: 720px)
// @media only screen and (max-width: 1366px)
