@media only screen and (max-width: 1366px)
    .menu
        .logo
            width: 4rem
@media only screen and (max-width: 920px)
    .header
        &__info
            display: none
        .menu
            min-width: 100%
    .transparent-block
        background-size: contain
@media only screen and (max-width: 576px)
    .mobile-hide
        display: none
    .mobile-only
        display: block
    .main
        &__title
            &_acitve
                margin: 0 auto 15vh
        .instagram
            &__title
            &__picture
                max-width: 95%
            &__img
                width: 10rem
                height: 10rem
                margin: 0.3rem
                img
            a
        &__connect
            .connect-title
                width: 100%
                h2
                    font-size: 20px
            .connect-text
                flex-direction: column
                align-self: flex-start
                p
                    padding: 0.5rem
    .transparent-block
        &__text
            max-width: 95%
    .about
        .about-block
            &__text
        &__princips
            .caption__title
                h2
            .princips-text
                &__block
                &__title
                &__text
            .button-active
        &__boss
            background: none
            .boss-wrapper
                padding: 0 5vw
                .boss-text
                    h1
                    h2
                    p
                        width: 100%
        .about__connect
            .connect-title
                h2
            .connect-text
                p
            .social-block
    .caption
        padding: 0
        &__title
            h2
                a
            p
        &__vl
    .footer
        .menu
            padding: 1rem
            padding-bottom: 2rem
        &__text
            p
                a
@media only screen and (max-width: 420px)
    .header // Шапка
        padding-top: 3vh
        &__info
    .menu
        &__wrapper_left
        &__wrapper_right
        &__item
            &:focus
            &:hover
        .logo
    .lorem
    .main //Главная
        &__title
            height: 99vh
            &_acitve
                font-size: 1.5rem
                line-height: 2.1rem
            &_small
                opacity: 0.9
                font-size: 1.1rem
        &__about
            .transparent-block
                padding: 0.5rem
                &__text
                    h2
                        font-size: 1.1rem
                    p
                        padding-bottom: 1.1rem
                        font-size: 1rem
                        line-height: 1.3
        &__img
        .instagram
            margin-bottom: 0
            a
                margin: 2rem 2rem
                font-size: 1rem
            &__title
            &__picture
                max-width: 100%
            &__img
                width: 6.8rem
                height: 6.8rem
                a
                    margin: 1.5rem auto 8rem
                img
        &__connect
            .connect-title
                h2
                    font-size: 12px
            .connect-text
                p
                    line-height: 1.5rem
                    font-size: 1.3rem
                    strong
    .services-img //Услуги
        height: 50vh
    .slider-wrapper
        .price-list__title
            height: 15vh
            display: flex
            justify-content: center
            p
                font-size: 1rem
        .option-services__block
            height: 30vh
            .option-services__title
                text-align: center
                p
                    font-size: 1rem
    .slider-mobile
        .slider-item__advantage //Преимущества
            display: flex
            flex-direction: column
            justify-content: space-evenly
            height: 70vh
            .advantage-item
                display: flex
                align-items: center
                height: 8rem
                padding: 0 1rem
                &__img
                    width: 30vw
                &__text
                    max-width: 70vw
                    padding-left: 1.5rem
                    h2
                        text-transform: uppercase
                        font-size: 0.7rem
                        line-height: 1.3rem
                        font-weight: bold
                    p
                        font-size: 0.8rem
                        line-height: 0.8rem
        .slider-item__price // Прайс-лист
            .price-list__item
                min-width: 100%
                padding: 0
            .price-list__top
                height: 10rem
                border-radius: 0
                h2
                    font-size: 1.7rem
                    margin-bottom: 0.5rem
                p
                    font-size: 1.2rem
                    opacity: 0.6
            .price-list__offer
                height: 56rem
                border-radius: 0
            .price-list__text
                ul
                    list-style: circle
                    li
                        margin: 0.5rem
        .slider-item__option // Дополнительные услуги
            .mobile-option__item
                .m-plane__title
                    background: url(../img/transparent/plane-m.png) center no-repeat
                .m-author__title
                    background: url(../img/transparent/author.png) center no-repeat
                .mobile-option__title
                    height: 10vh
                    color: $text-color-light
                    display: flex
                    flex-direction: row
                    background-color: $color-dark
                    background-size: 60%
                    text-transform: uppercase
                    font-size: 0.7rem
                    h2, p
                        min-width: 45vw
                    h2
                        text-align: end
                        color: $text-color-active
                    .caption__vl
                        height: 50%
                        margin: 0 0.3rem
                        border-left: 2px solid rgba(255, 199, 115, 0.5)
                .mobile-option__offer-plane
                    height: 100vh
                    background-color: $color-dark
                    color: $text-color-light
                    padding: 2rem 1rem 0
                    margin-bottom: 2rem
                    h2
                        text-transform: uppercase
                        text-align: center
                    ul
                        list-style: circle
                        margin-bottom: 3rem
                        li
                            margin: 0.5rem
                    p
                        text-align: center
                        padding-top: 1rem
                        line-height: 1.3rem
                .mobile-option__offer-author
                    height: 100vh
                    background-color: $color-dark
                    color: $text-color-light
                    padding-left: 1rem
                    margin-bottom: 2rem
                    font-size: smaller
                    h2
                        text-transform: uppercase
                        text-align: center
                    ul
                        list-style: circle
                        li
                            margin: 0.5rem
                    p
                        padding-top: 1rem
                        line-height: 1.2rem
                    .price-list__price
                        padding: 2rem 0
                        span
                            padding: 0 0.5rem
                .button-active
                    min-width: 100%
    .be-yourself
        .transparent-block
            height: 40vh
            display: flex
            justify-content: center
        &__block
            background: url(../img/transparent/be_yourself_mob.png) center no-repeat
            background-size: 90%
        &__title
            p
                font-size: 0.8rem
                padding: 1.5rem 0
                text-align: center
    .portfolio-m__caption //Портфолио
        .caption__title
            h2
                font-size: 0.8rem
                line-height: 1rem
    .portfolio-instagram
        background-color: $color-dark
        &__block
        .instagram
            margin-bottom: 0
            .transparent-block
                height: 10vh
                margin: 0 1rem
                background: url(../img/transparent/instagram.png) center no-repeat
                background-size: contain
            &__title
                padding-top: 1.5rem
                font-size: 0.7rem
                color: $text-color-active
                letter-spacing: 0.1rem
                line-height: 0.8rem
            &__picture
                max-width: 100%
                display: flex
                flex-wrap: wrap
                justify-content: center
            .button-active
                height: 2.3rem
                width: 40vw
                margin: 1rem auto 0
                font-size: 0.7rem
                text-align: center
            &__img
                width: 6.8rem
                height: 6.8rem
                margin: 0.3rem
                a
                    margin: 1.5rem auto 8rem
    .footer //Подвал
        .menu
            padding: 1rem 0
            padding-bottom: 2rem
            &__item
                margin: 0 0.3rem
                font-size: 0.7rem
        &__text
            p
                font-size: 0.8rem
                a

    //Интерфейс
    // Блок с прозрачной надписью и вертикалями
    .transparent-block
        height: 70vh
        padding: 0.5rem
        &__text
            h2
            p
    .vl
        border-left: 1px solid rgba(50, 50, 50, 0.5)
        height: 15vh

    // Форма
    .form-caption
        h2
            width: 45vw
            font-size: 1rem
        p
            width: 45vw
            font-size: 0.5rem
            line-height: 0.7rem
        .caption__vl
            margin: 0 1rem
    .request
        .mobile-only //request__data
            display: block
            padding: 2rem 1.5rem 3.5rem
            input
                text-transform: uppercase
        &__rules
            padding: 0 1.5rem
            .checkbox
                height: 3rem
                width: 4rem
            label
                padding-top: 0.8rem
                font-size: 0.6rem
                line-height: 0.8rem
    // Заголовки страниц  
    .caption
        padding-top: 2rem
        height: 17vh
        &__title
            h2
                font-size: 1rem
                a
            p
                font-size: 0.7rem
                line-height: 0.8rem
        &__vl
            margin: 0 1rem
// @media only screen and (max-width: 720px)
// @media only screen and (max-width: 1366px)
