.portfolio-instagram
    .transparent-block
        height: 40vh
    &__block
        background: url(../img/transparent/instagram.png) bottom no-repeat
        background-position: bottom 1vh
        .transparent-block__text
            margin: 0
    &__title
        p
            text-transform: uppercase
            font-weight: 600
    &__img
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        img
            max-width: 24vw
            margin: 0.5rem 0
    &__social
        display: flex
        position: relative
        justify-content: center
        margin-top: 1rem
        .social-block
            position: absolute
            right: 2%
        .button-active
            width: 25rem
.portfolio-projects
    .transparent-block
        height: 60vh
        &__text
            width: 35rem
            font-size: 1rem
            text-transform: uppercase
            font-weight: 600
    &__block
        background: url(../img/transparent/POJECTS.png) center no-repeat
    &__wrapper
        display: flex
        flex-direction: column
    &__img
        display: flex
        flex-wrap: wrap
        background-color: $color-dark
        img
            width: 100%
            margin: 1rem 0
        .more
            display: none
    &__more
        display: flex
        height: 4rem
        background-color: $color-dark
        justify-content: center
        align-items: center
        .button-active
            font-family: 'NobelWGL-Book', sans-serif
            width: 20rem
.portfolio-cover
    width: 100%
    height: 121vh
    position: relative
    display: flex
    align-items: flex-end
    &::after
        content: ""
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: transparent
        background-image: linear-gradient(to top, #1F1B20, transparent)
        opacity: 0.8
    &__img
        width: 100%
        position: relative
        &::after
            content: ""
            display: block
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background: transparent
            background-image: linear-gradient(to top, #1F1B20, transparent)
            opacity: 0.8
        img
            margin: 0
    &__text
        color: $color-light
        z-index: 1
        // width: 100%
        padding: 2rem
        a
            text-decoration: none
            color: $text-color-active
        h2
            font-size: 4rem
        p
            font-size: 1.5rem
.pc-1
    background: url(../img/portfolio/AF1Y/title.jpg) center no-repeat
    background-size: cover
.pc-2
    background: url(../img/portfolio/Ff7h/title.jpg) center no-repeat
    background-size: cover
.pc-3
    background: url(../img/portfolio/k1x1/title.jpg) center no-repeat
    background-size: cover
.pc-4
    background: url(../img/portfolio/11s7m/title.jpg) center no-repeat
    background-size: cover
.pc-5
    background: url(../img/portfolio/Noname1/title.jpg) center no-repeat
    background-size: cover
.pc-6
    background: url(../img/portfolio/Noname2/title.jpg) center no-repeat
    background-size: cover
.pc-7
    background: url(../img/portfolio/Noname3/title.jpg) center no-repeat
    background-size: cover
.pc-8
    background: url(../img/portfolio/Noname4/title.jpg) center no-repeat
    background-size: cover
.pc-9
    background: url(../img/portfolio/Noname5/title.jpg) center no-repeat
    background-size: cover
.pc-10
    background: url(../img/portfolio/Noname6/title.jpg) center no-repeat
    background-size: cover
.pc-11
    background: url(../img/portfolio/Noname7/title.jpg) center no-repeat
    background-size: cover
.pc-12
    background: url(../img/portfolio/Noname8/title.jpg) center no-repeat
    background-size: cover
.portfolio-form
    .transparent-block
        height: 20vh
.portfolio-connect
    .transparent-block
        height: 90vh
    &__block
        background: url(../img/transparent/connect.png) center no-repeat
    &__title
        p
            text-transform: uppercase
            font-weight: 600
    &__contact
        width: 100%
        display: flex
        justify-content: space-evenly
        p
            font-weight: 600
            line-height: 1.3
