.portfolio-instagram
    .transparent-block
        height: 40vh
    &__block
        background: url(../img/transparent/instagram.png) bottom no-repeat
        background-position: bottom 1vh
        .transparent-block__text
            margin: 0
    &__title
        p
            text-transform: uppercase
            font-weight: 600
    &__img
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        img
            max-width: 24vw
            margin: 0.5rem 0
.portfolio-projects
    .transparent-block
        height: 60vh
    &__block
        background: url(../img/transparent/POJECTS.png) center no-repeat
    &__img
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        img
            width: 49vw
            height: 49vh
            margin: 0.5rem 0
    &__more
        display: flex
        justify-content: center
        a
            width: 20rem
.portfolio-form
    .transparent-block
        height: 20vh
.portfolio-connect
    .transparent-block
        height: 90vh
    &__block
        background: url(../img/transparent/connect.png) center no-repeat
    &__title
        p
            text-transform: uppercase
            font-weight: 600
    &__contact
        width: 100%
        display: flex
        justify-content: space-evenly
        p
            font-weight: 600
            line-height: 1.3
