.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20%;
}

.login-form_imgcontainer {
  width: 200px;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.login-form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form_container .login-btn {
  margin-bottom: 25px;
  text-align: center;
  border-radius: 10px;
  height: 25px;
  outline: none;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
}

.login-form_container .login-text {
  background: url(../img/ico-login.png) no-repeat 7px 7px;
}

.login-form_container .login-password {
  background: url(../img/ico-password.png) no-repeat 7px 7px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 25px 15px;
  -webkit-box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.21);
          box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.21);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

.header-title {
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
}

.header-title_name {
  border-left: 1px solid #3c3c3c;
  padding-left: 4px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}

.header-title_job {
  padding-left: 5px;
  opacity: 0.7;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  height: 40px;
}

.header-menu_line {
  height: 10px;
  width: 50px;
  background-color: #636363;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 15px 6px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .projects {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.main .projects .back {
  display: block;
  position: absolute;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  bottom: -10px;
  padding: 3px;
}

.main .projects-item {
  width: 100%;
  margin-bottom: 9px;
  padding: 7px 0px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .newproject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  color: #3c3c3c;
  opacity: 0.8;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.footer .newproject .plus {
  padding-top: 5px;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */